.Model .container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80vw;
  height: auto;
  border-radius: 20px;
}

.Model .heading {
  font-family: "Oxanium", cursive;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
}
.Model .instr {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-left: 2%;
}

.Model .instr li {
  list-style-type: decimal;
}

.Model .text-and-btn {
  margin: 1% 2% 1% 2%;
  display: flex;
}

.Model .text-and-btn .wrap-p {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border-bottom: 1px solid #004080; */
}

.Model .wrap-p input {
  width: auto;
  width: 60vw;
  text-align: center;
  border: none;
  border-bottom: 1px solid #004080;
  outline: none;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 0.5%;
}

.Model .text-and-btn button {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #004080;
}

.Model .text-and-btn button:hover {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #004080;
  background-color: white;
}

.Model i {
  color: white;
}

.Model .text-and-btn button:hover i {
  color: #004080;
}

.Model .submit-btn {
  margin: 1% 2% 1% 2%;
  display: flex;
  justify-content: center;
}

.Model .submit-btn button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #004080;
  color: white;
}

.Model .submit-btn button:hover {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #004080;
  background-color:  white;
  color: #004080;
}

.Model .result-txt {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-left: 2%;
}

.Model .result-box {
  height: auto;
  margin: 1% 2% 1% 2%;
  padding: 1% 2% 1% 2%;
  border: 1px solid black;
  border-radius: 20px;
}

.Model .finish-btn {
  margin: 1% 2% 1% 2%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.Model .finish-btn button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #004080;
  color: white;
}

.Model .finish-btn button:hover{
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #004080;
  background-color:  white;
  color: #004080;
}

.text-to-speech button{

  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #004080;
  color: white;
}