.popup{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(55, 55, 55, 0.512);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
    border-radius: 15px;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
}

.popup .close-btn button{
    background: transparent;
    border: none;
}

.popup .close-btn button i{
    color: black;
}